@page
@using Microsoft.AspNetCore.Authorization
@model CRJ_Shop.Pages.Products.ProductModel



@{
    ViewData["Title"] = "Products";
}
<div class="container h-100 my-5">
    <a class="text-decoration-none" href="/Index">&#10094; Back <i class="bi bi-bag"></i></a>
    <div class="row mt-2">
        <h1 class="fw-bold">@Model.Product.Name</h1>
        <p>@Model.Product.ProductCategories.First().Category.ProductCategory.ToString()</p>
        <div class="col-6">
            <div class="mt-4">
                <img src="@(!string.IsNullOrEmpty(@Model.Product.Image) ? @Model.Product.Image : "https://placehold.co/600x400")" class="w-100 mb-2" alt="Example image"/>
            </div>
        </div>
        <div class="col-4 mx-auto d-flex flex-column justify-content-center ml-2">
            <div class="mb-5">
                <h4 class="mt-3 fw-bold">Information</h4>
                <p>@Model.Product.Description</p>
                <h2 class="my-3 fw-bolder">@Model.Product.Price SEK</h2>
                <form method="post" asp-page="/cart" asp-page-handler="AddToCart">
                    <input type="hidden" name="productId" value="@Model.Product.Id"/>
                    <button type="submit" class="d-flex justify-content-center gap-2 btn btn-outline-dark py-1 h6 px-2 rounded-3 mt-1 mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                        </svg>
                        Add to cart
                    </button>
                </form>
            </div>
            <div class="d-flex flex-column gap-2">
                <span> &#10003; Fast delivery </span>
                <span> &#10003; Support 24/7  </span>
                <span> &#10003; 60-day money-back guarantee </span>
            </div>
        </div>
    </div>
</div>